In [1]:
def scream():
    print('Hello World')
scream()

Hello World

In [2]:
def square(num):
    out = num**2
    return(out)

In [3]:
sq_3 = square(3)
print(sq_3)

9

In [4]:
def square(num):
    out = num**2
    print(out)

In [5]:
q = square(4)
print("Q is"+str(q))

16
Q isNone

In [6]:
def factorial(n):
    if n>1:
        return n*factorial(n-1)
    elif n==0:
        return 1
    else:
        return n

fact = factorial(5)
print(fact)

120

In [7]:
def addition(*args):
    print(args)
    return(sum(args))

In [8]:
print(addition(4,5,6,7,8,9))
print(addition(1,2))

(4, 5, 6, 7, 8, 9)
39
(1, 2)
3

In [ ]:
def proper(some_text):
    some_text = some_text.strip()
    some_text = " ".join([word[0].upper() + word[1:] for word in some_text.split()])
    return some_text

captain = proper("mahendra singh dhoni")
print(captain)

In [ ]:
string_to_list = lambda x: x.split()
print(string_to_list(captain))
print(type(string_to_list))

In [ ]:
product = lambda x, y : x*y
print(product(3,4))

In [9]:
str = 'I love u'

In [10]:
str[2:6]

'love'

In [11]:
str[-6:-2]

'love'

In [12]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [13]:
k = [[1],[1,2],[1,2,3]]

In [14]:
k[2:]

[[1, 2, 3]]

In [30]:
from functools import reduce
n=2
if n<=1:
    l_num = [1]
else:
    l_num = [x for x in range(1,n+1)]
print(l_num)
reduce(lambda x,y:x*y if x*y > 0 else 1, l_num)

[1, 2]

2

In [31]:
a = set([1,2,3])
b = set([1,2])
a.difference(b)

{3}

In [33]:
a.union(b)

{1, 2, 3}

In [35]:
sorted([2,4,3])

[2, 3, 4]