In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'movie_review_train.csv',
 'movie_review_test.csv',
 'empty.ipynb']

In [69]:
review = pd.read_csv('movie_review_train.csv')

In [70]:
rev_test = pd.read_csv('movie_review_test.csv')

In [71]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   1600 non-null   object
 1   text    1600 non-null   object
dtypes: object(2)
memory usage: 25.1+ KB

In [72]:
review.shape

(1600, 2)

In [73]:
review.head()

  class                                               text
0   Pos   a common complaint amongst film critics is   ...
1   Pos   whew   this film oozes energy   the kind of b...
2   Pos   steven spielberg s   amistad     which is bas...
3   Pos   he has spent his entire life in an awful litt...
4   Pos   being that it is a foreign language film with...

In [74]:
rev_test.shape

(400, 2)

In [75]:
rev_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   400 non-null    object
 1   text    400 non-null    object
dtypes: object(2)
memory usage: 6.4+ KB

In [76]:
review['class'].value_counts()

Pos    800
Neg    800
Name: class, dtype: int64

In [77]:
review['class'] = review['class'].map({'Neg':0, 'Pos':1})

In [78]:
train_data = review.values

In [79]:
X_data = train_data[:,1]
y_data = train_data[:,0].astype('int')

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

In [81]:
vec = CountVectorizer(stop_words='english', min_df=0.03, max_df=0.8)
vec.fit(X_data)
len(vec.vocabulary_)

1643

In [82]:
rev_test.head()

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

In [83]:
rev_test['class'].value_counts()

Pos    200
Neg    200
Name: class, dtype: int64

In [84]:
rev_test['class'] = rev_test['class'].map({'Neg':0, 'Pos':1})

In [85]:
test_arr = rev_test.values

In [86]:
X_test = test_arr[:,1]
y_test = test_arr[:,0].astype('int')

In [87]:
print(vec.transform(X_test).shape)

(400, 1643)

In [88]:
X_trn_trfm = vec.transform(X_data)

In [89]:
X_tst_trfm = vec.transform(X_test)

## Bernoulli Naive Bayes

In [90]:
from sklearn.naive_bayes import BernoulliNB

In [91]:
bnb = BernoulliNB()
bnb.fit(X_trn_trfm, y_data)
y_pred = bnb.predict(X_tst_trfm)

In [94]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [93]:
con_mat = confusion_matrix(y_test, y_pred)

In [100]:
accuracy_score(y_test, y_pred)

0.79

In [101]:
con_mat

array([[177,  23],
       [ 61, 139]])

In [110]:
 inp = [('Ram', 23 , 3000) , ('Mohan' , 22 , 4000 ) , ( 'Suresh' , 19 , 8000)]

In [114]:
choice = 2

In [117]:
ls = [(val[choice-1],idx) for idx,val in enumerate(inp)  ]

In [128]:
ls_out = sorted(ls)

In [131]:
out = [ inp[idx] for v, idx in ls_out ]

In [132]:
out

[('Suresh', 19, 8000), ('Mohan', 22, 4000), ('Ram', 23, 3000)]

In [108]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [133]:
sum([1,2,3])

6

In [134]:
list(range(0,3))

[0, 1, 2]

In [137]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [140]:
'-'.join(['a','s'])

'a-s'