In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'movie_review_train.csv',
 'movie_review_test.csv',
 'empty.ipynb']

In [3]:
review = pd.read_csv('movie_review_train.csv')

In [23]:
rev_test = pd.read_csv('movie_review_test.csv')

In [4]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   1600 non-null   object
 1   text    1600 non-null   object
dtypes: object(2)
memory usage: 25.1+ KB

In [5]:
review.shape

(1600, 2)

In [6]:
review.head()

  class                                               text
0   Pos   a common complaint amongst film critics is   ...
1   Pos   whew   this film oozes energy   the kind of b...
2   Pos   steven spielberg s   amistad     which is bas...
3   Pos   he has spent his entire life in an awful litt...
4   Pos   being that it is a foreign language film with...

In [24]:
rev_test.shape

(400, 2)

In [25]:
rev_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   400 non-null    object
 1   text    400 non-null    object
dtypes: object(2)
memory usage: 6.4+ KB

In [7]:
train_data = review.values

In [8]:
X_data = train_data[:,1]
y_data = train_data[:,0]

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
vec = CountVectorizer(stop_words='english', min_df=0.03, max_df=0.8)
vec.fit(X_data)
len(vec.vocabulary_)

1643

In [27]:
rev_test.head()

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

In [26]:
test_arr = rev_test.values

In [28]:
X_test = test_arr[:,1]

In [32]:
print(vec.transform(X_test).shape)

(400, 1643)

In [37]:
X_trn_trfm = vec.transform(X_data)

In [38]:
X_tst_trfm = vec.transform(X_test)

## Bernoulli Naive Bayes

In [34]:
from sklearn.naive_bayes import BernoulliNB

In [ ]:
bnb = BernoulliNB()
bnb.fit(X_trn_trfm)