In [8]:
import os
import pandas as pd
import numpy as np
import math

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'EDA.ipynb',
 'Inferential Statistics - Powai Flats Rent.csv']

In [3]:
df = pd.read_csv('Inferential Statistics - Powai Flats Rent.csv')

In [4]:
df.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [6]:
x_ = df['Monthly Rent'].mean()

In [15]:
s = math.sqrt(((df['Monthly Rent']-x_)**2).sum()/(df.shape[0]-1))

In [16]:
s

7457.521851178448

In [17]:
200**0.5

14.142135623730951

In [18]:
100**0.5

10.0

In [19]:
x_

45571.0

In [20]:
round(0.80,2)

0.8

In [29]:
"abcdfg".islower()

True

In [23]:
name = "prerna@upgrad.com"

In [26]:
name.split('@')

['prerna', 'upgrad.com']

In [31]:
'abcdfgAD12#'.isalnum()

False

In [94]:
def checkmail(email):
    #complete the function
    #the function should return the strings "invalid" or "valid" based on the email ID entered
    if '@' not in email or '.' not in email or len(email) < 2:
        return 'invalid'
    usr_name = email.split('@')[0]
    part2 = email.split('@')[1]
    if len(part2) == 0:
        return "invalid"
    part3 = email.split('@')[1].split('.')
    if len(part3) != 2:
        return "invalid"
    web_name = email.split('@')[1].split('.')[0]
    ext_name = email.split('@')[1].split('.')[1]
    
    if usr_name.isalnum() and len(usr_name)>0:
        if web_name.islower() and web_name.isalpha() and len(web_name)>0:
            if ext_name.islower() and ext_name.isalpha() and len(ext_name)<4 and len(ext_name)>0:
                return "valid"
            else:
                return "invalid"
        else:
            return "invalid"
    else:
        return "invalid"
email= 'abc@gmail.c'
print(checkmail(email))

valid

In [89]:
email.split('@')[1]

'a.fdfdf.com'

In [98]:
n=9
out = n + n*11 + n*111 + n*1111

In [99]:
out

11106

In [150]:
r_fre

{2: ['a', 'b', 'c'], 4: ['d']}

In [148]:
v=['b', 'a', 'c']
sorted(v)

['a', 'b', 'c']

[('d', 4), ('b', 2), ('a', 2), ('c', 2)]

{'a': 2, 'b': 2, 'c': 2, 'd': 4}

In [119]:
freq.items()

dict_items([('b', 3), ('a', 2), ('c', 2)])

In [165]:
i = "aabbccdddd"
n = 2
arr = list(set(i))
freq = {}
r_fre={}
for val in arr:
    freq[val] = i.count(val)
for k,v in freq.items():
    if v in r_fre.keys():
        r_fre[v].append(k)
    else:
        r_fre[v]=[]
        r_fre[v].append(k)
        
for k,v in r_fre.items():
    r_fre[k] = sorted(v)
final=[]
r_fre = {k: v for k, v in sorted(r_fre.items(), key=lambda item: item[0], reverse=True)}
print(r_fre)
for k,v in r_fre.items():
    for vs in v:
        final.append(vs)
        if len(final)==n:
            break
    if len(final)==n:
        break

{4: ['d'], 2: ['a', 'b', 'c']}

In [166]:
final

['d', 'a']